{
  "env": {
    "amd": true,
    "browser": true,
    "es6": false
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:compat/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "plugin:tailwind/recommended"
  ],
  "overrides": [
    {
      "env": {
        "es6": true,
        "node": true
      },
      "files": ["*.js", "build/**", "webpack/**"]
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "html",
    "prettier",
    "react",
    "@typescript-eslint",
    "react-hooks",
    "tailwind"
  ],
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "no-useless-return": "error",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      {
        "blankLine": "any",
        "prev": ["const", "let", "var"],
        "next": ["const", "let", "var"]
      },
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "prettier/prettier": ["error"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "sort-imports": ["error", {
      "ignoreCase": false,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }],
    "tailwind/class-order": "error"
  }
}
